.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
.content {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: white;
    z-index: 1000;
}
.header {
    display: flex;
    padding: 10px;
    align-items: center;
}
.close {
    margin-left: auto;
}
.body {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    height: 100px;
}
.footer {
    display: flex;
    padding: 10px;
}
.cancel {
    margin-left: auto;
}
.sure {
    margin-left: 10px;
}